@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body {
  overflow-x: hidden;
  font-family: 'Roboto';
}

/* Navbar */

.navbar-toggler {
  border: none;

}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.btn.nav-link {
  font-weight: bold;
}

/* ทำให้ menubar อยู่ใต้ navbar พอดี เพราะใช้ sticky*/
#menubar {
  top: 85px;
}

.nav-link {
  color: white;
  font-weight: bold;
  position: relative;
  font-size: larger;
}

/* start effect เส้นใต้ข้อความ */
.underline-effect::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: white;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.underline-effect:hover::before {
  width: 90%;
  visibility: visible;
}

/* หน้าที่เลือก
.underline-effect.selected::before{
  width: 90%;
  visibility: visible;
} */

/* end effect เส้นใต้ข้อความ */

/* สี carousel-indicators*/
.carousel .carousel-indicators button {
  background-color: black;
}

.carousel .carousel-indicators button.active {
  background-color: orange;
}

/* Font */

/* Start Heroes */
.hero-section {
  padding: 100px 0;
}


.hero-section h2 {
  color: rgb(195, 0, 0);
}

/* สลับข้อความ */
.container-flip {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  width: 100%;
  display: block;
  justify-content: center;
}

.flip {
  height: 100px;
  overflow: hidden;
}

.flip>div>div {
  padding: 0;
  height: auto;
  margin-bottom: 50px;
  display: inline-block;
  line-height: 1;
}

.flip div:first-child {
  animation: show 11s linear infinite;
}


@keyframes show {
  0% {
    margin-top: -380px;
  }

  15% {
    margin-top: -250px;
  }

  30% {
    margin-top: -250px;
  }

  45% {
    margin-top: -130px;
  }

  60% {
    margin-top: -130px;
  }

  75% {
    margin-top: 0px;
  }

  80% {
    margin-top: 0px;
  }

  90% {
    margin-top: 70px;
  }

  100% {
    margin-top: 100px;
  }
}

.shine {
  background: linear-gradient(to right,
      #48bf53 20%,
      #11823b 30%,
      #11823b 70%,
      #004d25 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 8s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}



/* End Heroes */


/* Card effect */

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

/* effect btn */
.btn {
  transition: all 0.5s;
}

.btn:hover {
  transform: scale(1.1);
}

.custom-btn {
  transition: all 0.5s;
}

.custom-btn:hover {
  transform: scale(1.1) rotate(2deg);
}

.custom-btn.bg-green:hover {
  transform: scale(1.1) rotate(-2deg);
}

.custom-btn.bg-orange:hover {
  transform: scale(1.1) rotate(-2deg);
}

.custom-btn.bg-pink:hover {
  transform: scale(1.1) rotate(-2deg);
}




/* Start Hightlight */

.cardimg {
  width: 350px;
  height: 350px;
}

.btn-quiz {
  border-color: #002fff;
}

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#48bf53), to(#48bf53), color-stop(0.5, #91f086));
  background: gradient(linear, left top, right top, from(#48bf53), to(#48bf53), color-stop(0.5, #91f086));
  -webkit-background-size: 400px;
  background-size: 400px;
  -webkit-background-clip: text;
  background-clip: text bac;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #11823b;
  border: #004d25 10px solid;
  padding: 0 20px;
  -webkit-text-stroke-color: #004d25;
  -webkit-text-stroke-width: 3px;
}

@keyframes shimmer {
  0% {
    background-position: top left -500px;
  }

  100% {
    background-position: top right -500px;
  }
}

.hightlight-color {
  background-color: #91f086;
}

/* End Hightlight */

/* Start Modal */
.cross {
  padding: 10px;
  color: #11823b;
  cursor: pointer
}

.faq-cross {
  padding: 10px;
  color: black;
  cursor: pointer
}

.mymodal {
  .card {
    height: auto;
    width: auto;
  }
}

/* End Modal */

/* Start FAQ */

.faq_area {
  background-color: #91f086;
}

.accordion-button {
  padding: 30px;
}

.accordion-button:focus {
  box-shadow: none;
}


.accordion-button:not(.collapsed) {
  background-color: white;
  color: black;
}

.custom-btn {
  font-size: x-large;
  height: 90px;
  color: white;
}

.custom-btn.bg-red:hover {
  background-color: #ff4141;
  color: white;
}

.custom-btn.bg-green:hover {
  background-color: #48bf53;
  color: white;
}

.custom-btn.bg-blue:hover {
  background-color: #509ce4;
  color: white;
}

.custom-btn.bg-orange:hover {
  background-color: #eca226;
  color: white;
}

.custom-btn.bg-gray:hover {
  background-color: #808080;
  color: white;
}

.custom-btn.bg-pink:hover {
  background-color: #ff8196;
  color: white;
}

/* End FAQ */

/* Start Google Maps */

.mylocation {
  background-color: #004d25;
}

/* End Google Maps */



/* Start Form */

form {
  background-color: rgb(254, 248, 231);
  width: 100%;
}

.page-link:hover {
  color: orangered;
}

/* End Form */

@media (max-width: 2560px) {

  h2.display-1 {
    font-size: 9rem;
  }
}

@media (min-width: 1440px) {

  h1.display-1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 1440px) {
  h1.display-1 {
    font-size: 5rem;
  }

  .faq-font h1 {
    font-size: 15vw !important;
  }

  .faq-font p.h2 {
    font-size: 4vw !important;
  }

  .faq-font h1.display-2 {
    font-size: 7vw !important;
  }
}

@media (max-width: 1024px) {
  h1.display-1 {
    font-size: 5rem;
  }

  .mymap {
    width: 400px;
  }

  .custom-btn {
    font-size: large !important;
  }

}

@media (min-width: 768px) {
  .cross.position-absolute {
    display: none;
  }

  .cross.d-none.d-lg-block {
    display: block;
  }
}

@media (max-width: 768px) {

  h1.display-1,
  h2.display-1 {
    font-size: 4rem;
  }

  h3.display-5 {
    font-size: 2.5rem;
  }

  label.h5 {
    font-size: 1rem;
  }

  .card {
    width: 290px !important;
    height: 350px !important;
  }

  .cardimg {
    width: 290px !important;
    height: 310px !important;
  }

  .modal-body {
    padding: 1rem;
  }

  .h2 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  .cross {
    display: none;
  }

  .cross.position-absolute {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .mymap {
    width: 300px;
  }

  .custom-btn {
    font-size: medium !important;
  }

  
}


@media (max-width: 426px) {

  h1.display-1,
  h2.display-1 {
    font-size: 2.5rem;
  }
  
  h1.display-3{
    font-size: 2rem;
  }

  .card {
    width: 270px !important;
    height: 350px !important;
  }

  .cardimg {
    width: 270px !important;
    height: 310px !important;
  }

  .heroesimg {
    width: 50px;
    height: 50px;
  }

  .chevron {
    font-size: 3rem !important;
  }

  .shimmer {
    border: #004d25 5px solid;
    -webkit-text-stroke-color: #004d25;
    -webkit-text-stroke-width: 1px;
  }

  .btn {
    font-size: 1rem;
  }

  .container-flip {
    font-size: 2rem;
    text-align: center;
  }

  .flip {
    height: 40px;
  }

  .faq-font h1 {
    font-size: 25vw !important;
  }

  .faq-font p.h2 {
    font-size: 7vw !important;
  }

  .faq-font h1.display-2 {
    font-size: 9vw !important;
  }

  @keyframes show {
    0% {
      margin-top: -300px;
    }

    15% {
      margin-top: -180px;
    }

    35% {
      margin-top: -180px;
    }

    45% {
      margin-top: -90px;
    }

    65% {
      margin-top: -90px;
    }

    75% {
      margin-top: 0px;
    }

    95% {
      margin-top: 0px;
    }

    100% {
      margin-top: 25px;
    }
  }

  .mymap {
    height: 200px;
    width: 310px;
  }

}

@media (max-width: 376px) {

  label.h5 {
    font-size: 0.9rem;
  }

  .mymap {
    height: 200px;
    width: 250px;
  }

}


@media (max-width: 320px) {

  h1.display-1,
  h2.display-1 {
    font-size: 2rem;
  }

  p {
    font-size: 0.8rem;
  }

  .card {
    width: 250px !important;
    height: 290px !important;
  }

  .cardimg {
    width: 250px !important;
    height: 250px !important;
  }

  .col-auto {
    padding: 0;
  }

  .nav-link {
    font-size: 0.8rem;
  }
  .custom-btn {
    font-size: small !important;
  }

  .container-flip {
    font-size: 1.5rem;
  }

  h1.display-3 {
    font-size: 1.8rem;
  }


  .mymap {
    height: 200px;
    width: 210px;
  }

  form {
    .page-link {
      font-size: 12px;
    }

    label {
      font-size: 12px;
    }

    .h5 {
      font-size: 12px;
    }
  }

  @keyframes show {
    0% {
      margin-top: -300px;
    }

    15% {
      margin-top: -150px;
    }

    35% {
      margin-top: -150px;
    }

    45% {
      margin-top: -70px;
    }

    65% {
      margin-top: -70px;
    }

    75% {
      margin-top: 10px;
    }

    95% {
      margin-top: 10px;
    }

    100% {
      margin-top: 25px;
    }
  }
}



.bg-red {
  background-color: #ff4141;
}

.bg-green {
  background-color: #48bf53;
}

.bg-blue {
  background-color: #509ce4;
}

.bg-orange {
  background-color: #eca226;
}

.bg-gray {
  background-color: #808080;
}

.bg-pink {
  background-color: #ff8196;
}

